*.iml
.gradle
/local.properties

# Gradle files
/.idea
.gradle/
build/

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/.idea/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/errors

# Private individual user cursor rules
.cursor/rules/_*.mdc

# Ignore Cursor directory (rules, cache, logs, etc.)
.cursor/
.cursorignore
.cursorindexingignore
/memory_bank
/custom_modes
xnotes
docs

